*{
    margin:0;
    padding:0;
}

/* SIGN UP */
.signup{
    border: 2px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 5%;
}
.signup-container{
    background-image: url("./assets/rdr2\ signup.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.data{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 25px;
    font-size: larger;
    font-style: bold;
}   

.data input{
    font-weight: bold;
    border: none;
    border-radius: 5px;   
    font-family: Arial, Helvetica, sans-serif;
}

.but button{
    border: none;
}

.container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: 'Times New Roman', Times, serif;
}
.signup:hover{
    box-shadow: 50px 50px 50px;
    transform: scale(1.0);
    background-color: rgba(255, 255, 255, 0.443);
}
.but button{
    padding: 10px 25px 10px 25px;
    background-color: rgb(207, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 20px;
    border: none;
}   
.but button:hover{
    box-shadow: 10px 10px 10px;
    border: 1px solid black;
    transform: scale(1.0);
}
.dir-to-login{
    padding-top: 25px;
    font-size:larger;
}
/*LOGIN PAGE*/
.login-page{
    height:99.5vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/rdr2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.login-box{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.706);
    border-radius: 5%;
}
.login-box:hover{
    border: 2px solid black;
    box-shadow: 25px 25px 25px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.814);
}
.login-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-bottom: 25px;
    font-size: larger;
    font-style: bold;
    color:white;
}
.login-data input{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: white;
}
.login-heading{
    height:70px;
    font-size:  35px;
    font-weight: bolder;
    color: white;
}
.login-heading h4:hover{
    color:red;
}

.login-button button{
    padding: 10px 25px 10px 25px;
    background-color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 20px;
    border: none;
}   
.login-button button:hover{
    background-color: black;
    color: white;
    font-style: bold;
    box-shadow: 5px 10px 15px rgb(255, 0, 0);
}
.dir-to-signup{
    padding-top: 25px;
    font-size:large
}


/*INDEX HTML */
.head-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    display: flex;
    gap: 550px;
    justify-content: space-evenly;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.list1{
    display: flex;
    list-style: none;
    gap: 100px;
}
.head-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    height: 75px;
    width: 75px;
    object-fit:cover;
    border-radius: 50px;
}




