.student{
    color: rgb(206, 220, 96);
    font-size: 40px;
    font-weight: bold;
    
}
body{
    background-color: rgb(0, 0, 0);
}

.heading{
    background-color:rgb(163, 210, 221);
    text-align: center;
    font-size: 40px;
}
.para{
    background-color:rgb(114, 255, 130);
    text-align: center;
    font-size: 40px;
}
#sandy{
    color:red;  
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}