*{
    margin:0px;
    padding:0;
}
.vi-bg{
    padding-top: 100px;
    height: 720px;
    width:100%;
    object-fit:cover;
    z-index:-1;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color:red;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 1;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: bold;
    letter-spacing: 5px;
}

.foot{
    background-color: black;
    height: 120px;
    display:flex;
    justify-content: center;
    align-items: center
}

.thambi{
    animation: none;
    font-size: x-large;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-weight: bold;
    text-align: center;
    color: white;    
}
body{
    background-color: black;
}
/*
.thambi:hover{
    animation: rota linear infinite 1s;
}

@keyframes rota{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(400deg); }
}
*/