.body-page{
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table{
    margin-top:100px;
    height:500px;
    width:400px;
    border: 2px solid rgba(146, 142, 142, 0.46);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.text{
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-data input{
    padding: 10px;
    margin: 10px;
    width: 250px;
}

.log-in input{
    background-color: rgb(141, 102, 250);
    color: white;
    border: none;
}
.facebook{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.facebook img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50px;
}

.suggestion h4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.gp, .ms{
    width: 120px;
    height: 40px;
}